<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>com.example.demotivators.HelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.example.demotivators.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menu</servlet-name>
        <servlet-class>com.example.demotivators.StarterWindowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usersTable</servlet-name>
        <servlet-class>com.example.demotivators.UsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>memUpload</servlet-name>
        <servlet-class>com.example.demotivators.MemUpload</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menu</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usersTable</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>memUpload</servlet-name>
        <url-pattern>/mem_upload</url-pattern>
    </servlet-mapping>


</web-app>